/** {   border: 0.5px solid lightsalmon; }*/
/**/
.read-more {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr auto;
  grid-template-rows: auto auto;
  grid-gap: 3rem; }

.read-text {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  text-align: center; }

.read-more-first {
  grid-column: 2 / 3;
  grid-row: 2 / 3; }

.read-more-second {
  grid-column: 3 / 4;
  grid-row: 2 / 3; }

.read-more-third {
  grid-column: 4 / 5;
  grid-row: 2 / 3; }

.footer {
  font-family: Open Sans, sans-serif;
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  text-align: center;
  background-color: #252626;
  color: white;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1% 1fr 1fr 1fr 1fr 1%;
  grid-template-rows: auto auto;
  grid-gap: 1rem; }

.copyright {
  text-align: left;
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

#align {
  align-self: start; }

.copyright h5 {
  font-size: calc(0.8rem + 0.8vw) !important;
  line-height: calc(1.5rem + 0.8vw); }

ul {
  list-style-type: none;
  -webkit-padding-start: 0; }

ul li {
  text-align: left;
  font-size: 12px; }

ul li#big {
  text-align: left;
  font-size: 14px;
  /*grid-column: 2/3;*/
  /*border: 1px solid red;*/
}

ul.links0 {
  -webkit-padding-start: 0;
  grid-column: 2/3}

ul.links1 li a, ul.links2 li a, ul.links3 li a, ul.links0 li {
  text-decoration: none !important;
  color: white;
  line-height: 1.6; }

ul.links3 li a#orange {
  color: orange; }

@media (min-width: 1825px), (min-width: 1224px), (min-width: 768px) and (max-width: 1024px) {
  .links0 {
    grid-column: 2 / 3;
    grid-row: 1 / 2; } }
@media (min-width: 320px) and (max-width: 480px) {
  .links0 {
    grid-column: 2 / -2;
    grid-row: 1 / 2; } }

.links1 {
  grid-column: 3 / 4;
  grid-row: 1 / 2; }

.links2 {
  grid-column: 4 / 5;
  grid-row: 1 / 2; }

.links3 {
  grid-column: 5 / 6;
  grid-row: 1 / 2; }

.copying-info {
  text-align: left;
  grid-column: 2 / -2;
  grid-row: 2 / 3;
  max-width: 100vw;
  min-height: 30px;
  padding-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 480px), (min-width: 768px) and (max-width: 1024px) {
  .links1, .links2, .links3 {
    display: none;
    font-size: 0 !important; } }
#next {
  position: absolute;
  width: 50px;
  height: 100px;
  color: white;
  top: 50%;
  right: 10%; }

#next svg {
  vertical-align: middle;
  -webkit-filter: drop-shadow(-2px -2px 2px #000);
  filter: drop-shadow(-2px -2px 2px #000); }

#next:hover {
  cursor: pointer; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

p, li {
  font-size: 1.4em;
  line-height: 1.7;  }

.block {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 15% 50px 50px auto 36%;
  grid-template-rows: 20vh 20vh 30vh 10vh;
  /*background-color: #cd5553;*/
  /*background-image: url("../img/red/01_mykhailo-red.jpg");*/
  /*width: 100%;*/
  background-repeat: no-repeat;
}
  @media
  /*(min-width: 768px) and (max-width: 1024px), */
  (min-width: 320px) and (max-width: 768px) {
    .block {
      grid-template-columns: 5% 20px 20px auto 36%;
      grid-gap: 5px} }

.block1 {
  grid-row: 1/-1;
  background-color: #cd5553;
  grid-column: 1/3;
  height: 80vh; }

.block2 {
  display: grid;
  grid-template-columns: auto 40%;
  grid-row: 1/-1;
  grid-column: 3/6;
  background-color: #cd5553;
  height: 80vh;
  margin-bottom: 50px; }

/*прописати @media для <768px*/

#photo-container {
  grid-column: 2/-1;
  position: relative;
}

.portrait {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 60%;*/
  width: 100%;
  /*grid-column: 5/6 ; !* new *!*/
  /*grid-row: 1/4;*/
  /*display: flex;*/
}

.crop {
  grid-column: 4/5;
  grid-row: 3/4;
  width: 200px;
  height: 200px;
  z-index: 200;
  overflow: hidden;
  border-radius: 5px; }
  @media (max-width: 768px) and (min-width: 450px) {
    .crop {
      width: 150px;
      height: 150px; }
  }
  @media (max-width: 450px) and (min-width: 400px) {
    .crop {
      width: 130px;
      height: 130px;
    }
  }

.photo {
  width: 100%; }

.audio {
  grid-column: 4/5;
  grid-row: 2/4;
  width: 80%;
  z-index: 200;
  justify-content: flex-end; }

#timeline1, #timeline2, #timeline3, #timeline4, #timeline5, #timeline6 {
  width: 80%;
  height: 15px;
  float: left;
  border-bottom: 3px solid white;
  border-radius: 5px; }

#playhead1, #playhead2, #playhead3, #playhead4, #playhead5, #playhead6 {
  width: 50px;
  margin-top: -50px; }

.playcont {
  grid-row: 1/-1;
  grid-column: 2/4;
  height: 80vh;
  align-items: center;
  z-index: 200; }

#pButton1, #pButton2, #pButton3, #pButton4, #pButton5, #pButton6 {
  margin-left: 5px;
  align-self: center;
  margin-top: 150px;
  height: 100px;
  width: 100px;
  border: none;
  background-color: #cd5553;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
  z-index: 300; }
  @media
  /*(  min-width: 768px) and (max-width: 1024px),  !* закоментити *!*/
  (min-width: 320px) and (max-width: 768px) {
    #pButton1, #pButton2, #pButton3, #pButton4, #pButton5, #pButton6 {
      height: 40px;
      width: 40px;
      margin-left: 2.5px; } }

.play {
  background: url("../img/play_button.svg"); }

.pause {
  background: url("../img/pause_button.svg"); }

/*# sourceMappingURL=application.css.map */

.container {
  display: grid;
  grid-template-columns: 20% auto 20%; }
  @media (max-width: 768px) {
    .container {grid-template-columns: 15% auto 15%;} }
  @media (max-width: 400px) {
    .container {grid-template-columns: 10% auto 10%} }


.main-text {
  grid-column: 2/3;
  /*font-size: 2em;*/
}

.main-text h3 {
  font-size: 2.1em;
  /*color: #012233;*/
  margin-bottom: 28px;
}

.credits {
  font-size: 1.1em;
}

.subtitle {
  font-size: 1.1em;

}

.publ {
  margin-bottom: 50px;
}

header img {
  width: 500px;
  height: 500px;
}

header {
  display: grid;
  /*position: relative;*/
  /*height: 100vh;*/
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 50px 70% auto; }


.header-left {
  grid-column: 1/2;
  grid-row: 2/3;
}

.header-img {
  grid-column: 2/3;
  grid-row: 2/3;
}

.header-right {
  grid-column: 3/4;
  grid-row: 2/3;
}

.header-img img {
  /*background-image: url("../img/metro-title-static.jpg");*/
  width: 100%;
  height: auto;

}

.space {
  grid-column: 1/-1 ;
  grid-row: 2/3;
  color: #FFF;
}

/* ======== HEADER ======== */
.logo {
  width:150px;
  position: absolute;
  float: left;
  margin: 15px 0 0 15px;
  z-index: 1000;
}

.social-icons {
  position: fixed;
  display:inline-block;
  top: 10px;
  z-index: 1000;
  right: 5px;
  width:80px;
}

.fa-twitter,
.fa-facebook {
  padding: 5px;
  color: #6c6c6c;
  background: white;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer; }
.fa-twitter:hover,
.fa-facebook:hover {
  color: #ffffff; }

.sub {
  font-size: 1.1em;
  text-align: center;
}

.twitter,
.facebook {
  width:30px;
  padding: 5px;
  color: #6c6c6c;
  background: white;
  float: right;
  cursor: pointer;
}

.title {
  grid-column: 2/3;
  grid-row: 2/3;
}
  @media (max-width: 300px) {
    .title { display: none }
  }

.title h1 {
  margin-left: 20%;
  margin-top: 15%;
  font-size: 3em;}
  @media (max-width: 850px) {
    .title h1 { margin-top: 10%; }   }
  @media (max-width: 645px) {
    .title h1 { font-size: 2.5em; } }
  @media (max-width: 550px) {
    .title h1 { font-size: 1.5em; margin-top: 10%; } }

.title h2 {
  margin-left: 20%;
  font-size: 2em; }
  @media (max-width: 850px) {
    .title h2 { font-size: 1.6em; } }
  @media (max-width: 645px) {
    .title h2 { font-size: 1.3em; } }
  @media (max-width: 550px) {
    .title h2 { font-size: 1em; } }